.env.prototxt
*.log

# Build artifacts
_bin
/radiance
/mithril
/cmd/radiance/radiance
/cmd/mithril/mithril
/vendor

# Data
*.car
*.sst
LOG*
LOCK
CURRENT
MANIFEST-*
OPTIONS-*

# Nix
/result

# deps.sh
opt/
deps-bundle.tar.zst

# firedancer's test-conformance corpus
conformance/test-vectors

# Editor junk files
# Please just use a global gitignore conf, I'm tired of this
.idea
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
cmd/.DS_Store
conformance/.DS_Store
fixtures/.DS_Store
pkg/.DS_Store
.DS_Store
